
.title{
	margin-top: 25px;
	margin-bottom: 25px;
	color: white;
	background-color: #444;
	text-align: center;

}
.form{
	padding:25px;

	button{
		margin: 5px;
	}
}
label{
		width: 200px;
		input{
		margin: 5px;
	}
}
table{
	// text-align: center;
	th{
		text-align: center;
	}
}
